@font-face {
  font-family: Orator;
  src: url("../res/fonts/OratorStd.otf"); }

#main-container {
  overflow-x: hidden;
  background-color: #010819;
  position: relative; }
  #main-container .trigger {
    position: absolute;
    height: 1px;
    width: 100%; }
  #main-container #trigger1 {
    top: 0; }
  #main-container #trigger2 {
    top: 300px; }
  #main-container #trigger3 {
    top: 500px; }
  #main-container #trigger4 {
    top: 850px; }
  #main-container #trigger5 {
    top: 1100px; }
  #main-container #trigger6 {
    top: 1800px; }
  #main-container #trigger7 {
    top: 2300px; }
  #main-container .item {
    position: fixed;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat; }
  #main-container #mountain {
    height: 50%;
    background-size: 100% auto;
    background-image: url(/res/svg/mountain.svg);
    bottom: -50%; }
  #main-container #moon {
    width: 200px;
    height: 200px;
    left: 200px;
    top: 200px;
    background-size: 100% 100%;
    background-image: url(/res/svg/moon.svg); }
  #main-container #stars1 {
    height: 130%;
    background-size: 100% 100%;
    background-image: url(/res/svg/stars1.svg); }
  #main-container #stars2 {
    height: 130%;
    background-size: 100% 100%;
    background-image: url(/res/svg/stars2.svg); }
  #main-container #city1 {
    height: 40%;
    background-size: 100% auto;
    background-image: url(/res/svg/city1.svg);
    bottom: -40%; }
  #main-container #city2 {
    height: 30%;
    background-size: 100% auto;
    background-image: url(/res/svg/city2.svg);
    bottom: -30%; }
  #main-container #shooting-star {
    position: fixed;
    top: -200px;
    height: 5px;
    width: 50px;
    background-repeat: no-repeat;
    background-image: url(/res/svg/shooting-star.svg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  #main-container #plane {
    position: fixed;
    height: 24px;
    width: 80px;
    left: -100px;
    background-repeat: no-repeat;
    background-image: url(/res/svg/plane.svg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    bottom: -30%; }
  #main-container #text-title {
    margin: 0;
    position: fixed;
    color: white;
    top: 265px;
    left: 400px;
    font-size: 3em; }
  #main-container #text-floating-1 {
    position: fixed;
    color: white;
    width: 30%;
    right: 15%;
    top: 80%;
    opacity: 0; }
  #main-container #main-links {
    position: fixed;
    top: 10px;
    right: 10px; }
    #main-container #main-links a {
      color: white;
      text-decoration: none;
      cursor: pointer;
      padding: 0 10px; }
      #main-container #main-links a:visited {
        color: white; }
      #main-container #main-links a:hover {
        text-decoration: overline; }
  #main-container #some-content-container {
    background-color: #000d2d; }
    #main-container #some-content-container #some-content {
      position: relative; }
      #main-container #some-content-container #some-content .content-item {
        position: absolute;
        height: 50%;
        width: 33.33333%;
        -webkit-transform: skewY(3deg);
        transform: skewY(3deg);
        background-color: #001038; }
        #main-container #some-content-container #some-content .content-item .content-inner {
          height: 100%;
          -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg); }
          #main-container #some-content-container #some-content .content-item .content-inner > div {
            float: left; }
          #main-container #some-content-container #some-content .content-item .content-inner .content-img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50% 100%;
            height: 100%;
            width: 50%; }
          #main-container #some-content-container #some-content .content-item .content-inner .content-text {
            height: 100%;
            width: 50%;
            display: table;
            vertical-align: middle;
            padding-right: 10px; }
            #main-container #some-content-container #some-content .content-item .content-inner .content-text > p {
              display: table-cell;
              vertical-align: middle;
              color: white; }
        #main-container #some-content-container #some-content .content-item:hover {
          cursor: pointer; }
      #main-container #some-content-container #some-content #content-item-1 .content-img {
        background-image: url(/res/svg/item-star.svg); }
      #main-container #some-content-container #some-content #content-item-1:hover {
        background-color: #800080; }
      #main-container #some-content-container #some-content #content-item-2 {
        left: 33.333%; }
        #main-container #some-content-container #some-content #content-item-2 .content-img {
          background-size: 35% 100%;
          background-image: url(/res/svg/item-phone.svg); }
        #main-container #some-content-container #some-content #content-item-2:hover {
          background-color: #360080; }
      #main-container #some-content-container #some-content #content-item-3 {
        left: 66.666%; }
        #main-container #some-content-container #some-content #content-item-3 .content-img {
          background-image: url(/res/svg/item-speak.svg); }
        #main-container #some-content-container #some-content #content-item-3:hover {
          background-color: #005980; }
      #main-container #some-content-container #some-content #content-item-4 {
        top: 50%; }
        #main-container #some-content-container #some-content #content-item-4 .content-img {
          background-size: 40% 100%;
          background-image: url(/res/svg/item-pencil.svg); }
        #main-container #some-content-container #some-content #content-item-4:hover {
          background-color: #008045; }
      #main-container #some-content-container #some-content #content-item-5 {
        top: 50%;
        left: 33.333%; }
        #main-container #some-content-container #some-content #content-item-5 .content-img {
          background-image: url(/res/svg/item-cloud.svg); }
        #main-container #some-content-container #some-content #content-item-5:hover {
          background-color: #806700; }
      #main-container #some-content-container #some-content #content-item-6 {
        top: 50%;
        left: 66.666%; }
        #main-container #some-content-container #some-content #content-item-6 .content-img {
          background-image: url(/res/svg/item-plane.svg); }
        #main-container #some-content-container #some-content #content-item-6:hover {
          background-color: #802700; }
  #main-container #scroll-down {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    #main-container #scroll-down > div {
      background-repeat: no-repeat;
      height: 100px;
      width: 40px;
      display: inline-block;
      background-position: center; }
    #main-container #scroll-down #scroll-mouse {
      background-image: url(/res/svg/scroll-mouse.svg); }
    #main-container #scroll-down #scroll-arrow {
      position: relative;
      background-image: url(/res/svg/scroll-arrow.svg); }

* {
  margin: 0;
  padding: 0;
  font-family: Orator, Verdana, Geneva, sans-serif;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.clearfix {
  clear: both; }
